@import 'reset.less';

.app {

	.nav {
		width: 250px;
		border-right: 1px solid gray;
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
	}

	.main {
		margin-left: 250px;

		.header {
			background-color: #ccc;
		}

		.body {

		}

		.footer {

		}
	}


}