<!doctype html>
<html>
	<head>
  		<title>PerfectPM</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet/less" type="text/css" href="css/layout.less" />
		  <script src="/js/less.js"></script>
  	</head>
  	<body>
    	<div id="react-app" class="app">
      
    	</div>
  		<script src="/js/jquery-2.1.4.min.js"></script>
  		<script src="/js/underscore-min.js"></script>
  		<script src="/js/backbone.js"></script>
    	<script src="/js/bundle.js"></script>
  	</body>
</html>
