<!doctype html>
<html>
	<head>
  		<title>PerfectPM</title>
 		<link rel="stylesheet/less" type="text/css" href="css/layout.less" />
		<script src="/js/less.js"></script>
  	</head>
  	<body>
    	<div id="react-app" class="app">
      
    	</div>
    	<script src="/js/bundle.js"></script>
  	</body>
</html>
